@import 'global';

.explanations {
    margin: auto;
    margin-bottom: 24px;
    max-width: 960px;
    padding: 0 24px;


    &__toggle-wrapper {
        margin: auto;
        max-width: 540px;
    }

    &__toggle {
        @extend %g__toggle;
        margin: auto;
        margin-bottom: 12px;
    }    

    &__contents {
        list-style: disc;
    }

    &__li {
        margin-bottom: 6px;
    }
}
