%g__toggle {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    width: 100px;
}

%g__shadow {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

