.preview {
    background-color: #f5ebec;
    margin: auto;
    padding-left: 5%;
    padding-top: 12px;
    padding-bottom: 12px;

    &__video-info {
        height: 24px;
        line-height: 24px;
    }
}
