.preview {
    background-color: #f5ebec;
    margin: auto;
    margin-bottom: 24px;
    padding-left: 12px;
    padding-top: 12px;

    &__video-info {
        height: 24px;
        line-height: 24px;
    }
}
