.results {
    margin: auto;
    max-width: 540px;
    padding: 0 24px;

    &__message {
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__download-links {
        margin-bottom: 12px;
    }

    &__download-li {
        margin-bottom: 6px;
    }

    &__download-title {
        float: left;
        height: 36px;
        padding-top: 6px;
        width: 80px;
    }

    &__download-link-wrapper {
        float: left;
        height: 36px;
        min-width: 130px;
    }

    &__download-link {
        &.is-disabled {
            color: #747575;
            text-decoration: none;
        }
    }

    &__download-media-info {
        font-size: 12px;
        padding-top: 3px;
    }

    %__indicator-box {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: results__indicator-box-animation;
        background-color: #0e188a;
        display: inline-block;
        height: 12px;
        width: 12px;
    }

    &__download-media-info-indcator-box-1 {
        @extend %__indicator-box;
        animation-delay: 0ms;
    }

    &__download-media-info-indcator-box-2 {
        @extend %__indicator-box;
        animation-delay: 500ms;
    }

    &__download-media-info-indcator-box-3 {
        @extend %__indicator-box;
        animation-delay: 1000ms;
    }

    @keyframes results__indicator-box-animation {
        0% {
            opacity: 0.3;
        }
        25% {
            opacity: 0.7;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 0.7
        }
        100% {
            opacity: 0.3;
        }   
    }

    &__play-button-wrapper {
        float: left;
        height: 36px;
        padding-top: 3px;
    }

    &__play-button {
        border-radius: 4px;
        border: solid 1px #182329;
        display: inline-block;
        margin-right: 3px;
        margin: auto;
        padding: 0.25em 0.5em;
        text-decoration: none;

        &.is-active {
            background: #b2b4b4;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        }
        
        &.is-disabled {
            background-color: #d4d9d7;
            color: #b9bdbb;
            cursor: default; 
        }
    }

    &__play-button:hover {
        &.is-active {
            opacity: 0.7;
        }
    }

    &__movie-gif-options-area {
        margin-left: 24px;
    }

    &__movie-gif-options {
        margin-left: 24px;
    }

    &__movie-gif-options-title {
        margin-bottom: 12px;
    }

    &__movie-gif-option-li {
        margin-bottom: 12px;
    }

    &__movie-gif-option-title {
        float: left;
        width: 100px;
    }

    &__movie-gif-option-value {
        float: left;
    }

    &__movie-gif-option-value-slider {
        /* https://caniuse.com/css-appearance */
        -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix, plugin/no-unsupported-browser-features */
        appearance: none;  /* stylelint-disable-line plugin/no-unsupported-browser-features */
        background: rgba(178, 180, 180, 1);
        height: 12px;
        outline: none;

        &.is-active {
            opacity: 0.8;
        }

        &.is-disabled {
            opacity: 0.3;
        }
    }

    &__movie-gif-option-value-slider:hover {
        &.is-active {
            opacity: 1;
        }
    }

    &__movie-gif-option-value-slider::-webkit-slider-thumb {
        /* https://caniuse.com/css-appearance */
        -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix, plugin/no-unsupported-browser-features */
        appearance: none; /* stylelint-disable-line plugin/no-unsupported-browser-features */
        background-color: #fff;
        border-radius: 0;
        border: 1px solid #333334;
        height: 24px;
        width: 16px;
    }

    &__movie-gif-option-value-slider::-moz-range-thumb {
        background-color: #fff;
        border-radius: 0;
        border: 1px solid #333334;
        height: 24px;
        width: 16px;
    }

    &__movie-gif-options-remark {
        margin-left: 24px;
    }

    &__play-area {
        background-color: #e6e4e4;
        margin: auto;
        padding-bottom: 12px;
        padding-left: 5%;
        padding-top: 12px;
    }

    &__play-area-title {
        height: 24px;
        line-height: 24px;
    }
}